/* Critical */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  height: 100vh;
  width: 100%;
  background-color: #a28089;
  color: #fff;
}

.App-header .lazy-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.App-title {
  display: table-cell;
  position: absolute;
  margin: 0;
  padding: 15px;
  font-size: 5rem;
  z-index: 10;
  text-align: center;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Not Critical */

.container {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.narrative-text {
  margin: auto;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  font-size: 1.4rem;
  line-height: 2rem;
}
