.progressive-map {
  position: relative;
  margin: 20px auto;
  max-width: 1000px;
  width: 100%;
  overflow: hidden;
  text-align: right;

  .lazy-image {
    position: relative;
    z-index: 0;
  }

  .load-interactive {
    margin-top: 5px;
    font-size: 1.3em;
    cursor: pointer;
  }

  .webmap {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  &.map-loaded {
    .lazy-image {
      opacity: 0;
    }

    .webmap {
      opacity: 1;
    }
  }
}
